<h1>Edit</h1>

<form action="/update" method="POST">
  <label for="fileName">File Name:</label>
  <input type="text" name="fileName" value="<%= fileName %>" readonly>
  <br>
  <label for="title">title:</label>
  <input type="text" name="title" value="<%= title %>">
  <br>
  <label for="time">time:</label>
  <input type="text" name="time" value="<%= time %>" readonly>
  <br>
  <label for="name">name:</label>
  <input type="text" name="name" id="" value="<%= name %>">
  <br>
  <label for="content">content:</label>
  <textarea name="content" id=""><%= content %></textarea>
  <br>
  <label for="image">Image:</label>
  <input type="text" name="image" value="<%= image %>" readonly>
  <br>
  <input type="submit" value="Update">
</form>